/*
 *	COLORS
 */
/*
 *	FONT FAMILIES
 */
/*
 *	MIXINS
 */
/*
 *	COLORS
 */
/*
 *	FONT FAMILIES
 */
/*
 *	MIXINS
 */
body {
  background-color: #ED7F00; }

.back {
  width: 50px;
  margin-top: 50px;
  margin-left: 50px; }
  .back img {
    width: 100%; }
  .back:hover {
    cursor: pointer; }

#filter-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  width: 40%; }
  #filter-form #select-filter {
    width: 100%;
    height: 35px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 15pt; }
    #filter-form #select-filter:focus {
      outline: none; }
    #filter-form #select-filter:hover {
      cursor: pointer; }
  #filter-form #filter-btn {
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    height: 35px;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 15pt; }
    #filter-form #filter-btn:hover {
      cursor: pointer; }

table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  border-collapse: collapse;
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  color: white; }
  table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2); }
  table td, table th {
    border: 1px solid #ED7F00;
    text-align: left;
    padding: 8px;
    width: 50%; }
  table th {
    font-family: "Raleway", sans-serif;
    font-size: 25pt; }

/*
 *	STYLING
 */
body {
  margin: 0;
  padding: 0; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 15pt; }

label {
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  font-weight: 300;
  color: white; }

#filter {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px; }
  #filter:hover {
    cursor: pointer; }
  #filter img {
    width: 100%; }

#kanban {
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-image: url("../img/mac.jpg"); }
  #kanban .container {
    width: 100%;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 50px; }
    #kanban .container h1 {
      text-align: center;
      margin-top: 30px;
      color: #ED7F00;
      font-family: "Purple Purse", cursive;
      font-size: 35pt;
      color: #ED7F00; }
    #kanban .container .note {
      margin: 0 auto;
      width: 350px;
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 20px 0 50px 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: relative; }
      #kanban .container .note .buttons {
        width: 54px;
        bottom: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
        #kanban .container .note .buttons .btn {
          width: 25px;
          display: inline-block; }
          #kanban .container .note .buttons .btn img {
            width: 100%; }
          #kanban .container .note .buttons .btn:hover {
            cursor: pointer; }
      #kanban .container .note #bigger {
        width: 83px; }
      #kanban .container .note p {
        text-align: center;
        padding: 0 20px; }
  #kanban #doing {
    border-left: 2px solid white; }
  #kanban #done {
    border-left: 2px solid white; }

#add {
  width: 100%;
  height: 500px;
  background-color: #ED7F00;
  padding-top: 50px;
  position: relative; }
  #add h1 {
    font-family: "Purple Purse", cursive;
    font-size: 35pt;
    color: #FFFFFF;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center; }
  #add .errors, #add .success {
    border-radius: 3px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 15pt;
    padding: 10px 0px; }
  #add .errors {
    background-color: #FF8B8B; }
  #add .success {
    background-color: #76e294; }
    #add .success ul {
      list-style-type: none; }
  #add .input-container {
    width: 100%;
    padding: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #add .input-container #add-form {
      width: 500px; }
      #add .input-container #add-form label {
        margin-top: 15px; }
      #add .input-container #add-form .input-div {
        margin-top: 5px;
        margin-bottom: 15px; }
        #add .input-container #add-form .input-div textarea {
          width: 100%;
          height: 100px;
          border: 1px solid #CCC;
          font-family: "Raleway", sans-serif;
          font-size: 15pt;
          font-size: 14px;
          border-radius: 3px;
          border: none; }
        #add .input-container #add-form .input-div select {
          width: 100%;
          height: 35px;
          border: 1px solid #CCC;
          font-family: "Raleway", sans-serif;
          font-size: 15pt;
          font-size: 14px;
          border-radius: 3px;
          border: none; }
          #add .input-container #add-form .input-div select:hover {
            cursor: pointer; }
        #add .input-container #add-form .input-div select:focus, #add .input-container #add-form .input-div textarea:focus {
          outline: none; }
      #add .input-container #add-form #save-btn {
        width: 500px;
        border: none;
        background-color: #FFFFFF;
        border-radius: 3px;
        height: 35px;
        margin-top: 10px; }
        #add .input-container #add-form #save-btn:hover {
          cursor: pointer; }
  #add .input-tag::-webkit-input-placeholder, #add .input-tag-text::-webkit-input-placeholder {
    color: #212121;
    font-family: "Raleway", sans-serif;
    font-size: 15pt;
    font-size: 14px; }
  #add p {
    color: white;
    font-size: 10pt;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
